/* universal */
* {
    margin: 0;
    padding: 0;
}

/* for applying inter font */
header, .header-nav, body   
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}


/* navbar styling */
.header-nav {
    display: flex;
    max-width: 1360px;
    justify-content: space-around;
    margin: 0 auto;
    padding: 10px 0;
    align-items: center;
}


/* navbar logo style */
.logo-navbar {
    max-width: 139px;
    
}


/* navbar menu styling */
header, .nav-menu, a {
    text-decoration: none;
    list-style-type: none;
}

.nav-menu, a {
    display: flex;
    gap: 32px;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}


/* nav button styling */
.btn-1 {
    padding: 12px 16px;
    color: #ffffff;
    background-color: #469165;
    border: 1px solid #469165;
    border-radius: 5px;
}

.btn-1:hover {
    transform: scale(1.06);
    transition-duration: 0.5ms;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #469165;
    cursor: pointer;
}


/* start hero section */
.main-hero-div {
    text-align: center;
    max-width: 1360px;
    margin: 0 auto;
    max-width: 1360px;  
}

/* hero button 1 */
.btn-2 {
    padding: 8px 12px;
    color: #469165;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 1000px;
    margin-bottom: 16px;
}

/* hero hidding style */
#main-h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 16px;
}
.location-color-h1 {
    color: #469165;
    text-transform: capitalize;
}

/* hero paragraph-1 */
.paragraph-1 {
    font-size: 18px;
    font-weight: 400;
    
    color: #ffffff;
    
}

/* hero button-3 */
.btn-3 {
    padding: 12px 16px;
    color: #ffffff;
    background-color: #ffffff00;
    border: 1px solid #469165;
    border-radius: 5px;
    margin-left: 16px;
}
.btn-3:hover {
    cursor: pointer;
    transform: scale(1.06);
    transition-duration: 0.5ms;
}


.hero-buttons {
    padding-top: 32px;
}

/* hero section background image */
.main-hero {
    background-image: url(../assets/hero-bg.png);
    padding: 150px 0px 180px 0px;
}


/* card section start */
.card-info {
    max-width: 1360px;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.card-section {
    padding: 50px 0 120px 0;
}


/* card title style */
.card-info-title {
    text-align: center;
    font-size: 48px;
    font-weight: 600px;
    line-height: 54px;
    margin-bottom: 10px;
}

.paragraph-2 {
    font-size: 16px;
    line-height: 29px;
    color: #000000;
    text-align: center;
}

/* cards styte */
.image-icon {
    max-width: 60px;
    height: auto;
    margin-bottom: 16px;
}


.card-for-width{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 330px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 3px 1px grey;
    padding: 15px;
    text-align: center;
    
}

.card-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: #000000;
    margin-bottom: 15px;
}

.cards {
    display: flex;
    padding-top: 44px;
    gap: 20px;
}


/* main brain section start */
.brain-section {
    padding: 0 0 120px 0;
}

.main-brain-div {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1360px;
    margin: 0 auto;
    gap: 60px;
}

.brain-image img {
    width: 600px;
    height: 600px;
}

.small-brain-h5 {
    color: #469165;
    padding-bottom: 16px;
}

.sub-brain-h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    color: #000000;
    margin-bottom: 16px;
}

.paragraph-4 {
    color: #627382;
    margin-bottom: 16px;
}

.for-checkbox-info {
    padding: 0 50px; 
  
}

.checkbox li::before {
    content: "✓";
    width: 18px;
    height: 18px;
    flex: 0 0 20px;
    border-radius: 50%;
    background:#469165;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    margin-top: 16px;
    
}

.checkbox ul {
    list-style-type: none;
}